.z{
    border: 1px solid rgb(39, 34, 34);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80px;
    background-color: rgb(136, 163, 170);
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.square_btn{
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #799dec;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
}
.square_btn:active {
    top: 4px;
	box-shadow: none;
}

.header-menu {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
order: 2;
flex-wrap: wrap;
}

.button {
    height: 12px;
    width: 12px;
}

.header-logo__2 {
    order: 1;
    padding: 10px 0px 10px 0px;
}

/*----------------------SECTION---------------------- */

.separator {
    padding: 2px 0px;
    margin: 5px 0px;
    height: 2px;
    width: 5%;
    border: none;
    box-shadow: none;
    background-color: rgb(60, 61, 61);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.section-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.section-menu__cam {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-menu-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}

.menu-img {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section__img {
padding: 5px 0px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(159, 159, 172);
}

.site { 
        display: flex;
        min-height: 100vh;
        flex-direction: column;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    padding: 3%;

}

.x {
    border:5px solid;
    border-image: linear-gradient(to bottom, #2b68c4 0%,#cf2d6e 100%)1;
}


#canvas {
    display: none;
}

.section-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
box-shadow: 5px 5px 15px 5px #000000;
}

.center {
    margin: 10px 0px;
}

.upload {
    padding: 30px 40px;
}

.gallerie {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}

.space {
    height: 15%;
}